/* element selection */
body {
    margin: 0;
}

h1 {
    margin:0;
}
p {
    margin: 0;
}
/* class selection */
.first-section {
    background-color: #F6F6C9;
    margin: 0;
}
.top-container {
    background-color: blue;
    width: 200px;
    height: 200px;
}
.bottom-container {
    background-color: red;
    width: 200px;
    height: 200px;
}